.DS_Store
Build for static lib/OpusKit.xcodeproj/xcuserdata/
Build for static lib/OpusKit.xcodeproj/project.xcworkspace/
Build for framework/OpusKit.xcodeproj/xcuserdata/
Build for framework/OpusKit.xcodeproj/project.xcworkspace/